@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Red asterisk for required input fields */
@layer utilities {
	.required:after {
		content: ' *';
		color: red;
		font-weight: bold;
	}
}

html,
body {
	@apply h-full overflow-hidden;
}
